.myWorksBlock {
    min-height: 100vh;
    background-color: #6b89bd;
}
.worksContainer{
    justify-content: flex-start;
    flex-direction: column;

}
.works{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}