.myWorksBlock {
    min-height: 100vh;

}
.worksContainer{
    /*justify-content: flex-start;*/
    /*flex-direction: column;*/

}
.worksTitle{
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
}
.works{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}