.header {
    justify-content: flex-end;
    display: flex;
    height: 80px;
    margin-right: 10px;
    align-items: center;
    font-family: Poppins;
}
.headerContainer{
    /*display: flex;*/
    /*justify-content: flex-end;*/

}

