.container{
    border: 1px solid red;
    height: 100%;
    width: 900px;
    margin: 0 auto;
    z-index: 100;
    position: relative;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*flex-wrap: wrap;*/
    /*padding: 10px;*/
}