


.oneProjectTitle{
    color:#FFFFFF;

}
.oneProjectBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
    padding-top: 20px;
    margin-bottom: 20px;

}
.oneProjectImg{
    width: 400px;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;

}
.oneProjectMiniBlock{
    padding-left: 10px;
    background-color: #222;
    border-radius: 10px;
    margin-top: 10px;

    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.oneProjectText{
    width: 50%;
}