.skilsBlock{
    min-height: 100vh;

}
.skilsContainer{
    justify-content: center;
    flex-direction: column;

}
.title{

    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
}
.skils{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}